
#shudoku{
    background-color: thistle;
    margin-left: 20%;
    margin-right: 20%;
    /* size: 60%; */
    padding: 2%;
    border: black;
}

#rules{
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#tail{
    position: relative;
    text-align: center;
}

table{
    border: black;
    border-width: 10px;
}


body{
    background-color: wheat;
    text-align: center;
}

ul{
    text-align: center;
    list-style: inside;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}